.items {
  text-align: center;
  margin-top: 50px;
  border: 2px solid red;
}
/********************************/

.addBook {
  margin-left: 20px;
}
.addPen {
  margin-left: 20px;
}
.addNotebook {
  margin-left: 20px;
}
.addInkpen {
  margin-left: 20px;
}
/********************************/

.remBook {
  margin-left: 20px;
}
.remPen {
  margin-left: 20px;
}
.remNotebook {
  margin-left: 20px;
}
.remInkpen {
  margin-left: 20px;
}

/********************************/


.totalBooks{
  margin-left: 20px; 
}
.totalPens{
  margin-left: 20px; 
}
.totalNotebooks{
  margin-left: 20px; 
}
.totalInkpens{
  margin-left: 20px; 
}

/********************************/
.total{
text-align: center;
 margin-top: 20p
  
}
































































































